.cont{
    width: 80%; 
    max-width: 500px; 
    margin: 10% auto;
    border: 1px solid rgb(126, 114, 114);
    border-radius: 10px;
    padding: 20px;
}
.heading{
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .cont {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .cont {
        width: 95%; 
    }
}

