.container {
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  
   .container img {
    width: 100%;
    height: auto;
  } 

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #595305;
    color: rgb(233, 208, 208);
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }